<% include ./partials/header %>
  <table class="table table-bordered" width="200">
  <tr>
    <th>Iteam</th>
    <th>Rate(in RS.)</th> 
    
  </tr>
  <tr>
    <td>Tea</td>
    <td>10</td> 
    
  </tr>
  <tr>
    <td>Coffee</td>
    <td>10</td> 
    
  </tr>
  <tr>
    <td>Samosa</td>
    <td>15</td> 
    
  </tr>
  <tr>
    <td>Cake</td>
    <td>15</td> 
    
</table>

  <% include ./partials/footer %>
