<% include ./partials/header %>

<div class="container">
   	<div class="row">
			<div class="col-lg-12">
				<div id="content">
				 <h1>The Food Circle</h1>
				 <h3>The Classy Restaurant in the Town</h3>
				 <hr>
				 <h1>Order</h1>
				<form>
				 	<div class="order">
				 		 <div><label>
			Iteam Name:

		<select name="Name" style="color:black">
			<option>Name</option>
			<option>Tea</option>
			<option>coffee</option>
			<option>Samosa</option>
			<option>Cake</option>
		</select>

		<div><label>
			Iteam Quantity:

		<select name="Quantity" style="color:black">
			<option>Quantity</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
				 	</div>
				     
		<div><label for="name"> Total Amount: <input id="name" type="text" name="your name" placeholder="" value=""></label></div> 
		<input type="submit" style="color:black" placeholder="submit">
				 </form>
				</div>
			</div>
		</div>
	</div>
	






<% include ./partials/footer %>