<% include ./partials/header %>

<div class="container">
   	<div class="row">
			<div class="col-lg-12">
				<div id="content">
				 <h1>The Food Circle</h1>
				 <h3>The Classy Restaurant in the Town</h3>
				 <hr>
				 <h1>Order</h1>
			
              <table width="80%" border="0" style="color:black; margin-left:200px">
    <tr>
        <th>Itam</th>
        <th>Rate(in RS.)</th>
        <th>Total Amount</th>
        
    </tr>
    <tr>
        <td><select>
        
		<option>Name</option>
		<option value="10" id="qty">Tea</option>
        <option value="10" id="qty">Coffee</option>
        <option value="15" id="qty">Samosa</option>
        <option value="15" id="qty">Cake</option>
		</select>
</td>
        <td><input id="prc" type="text" onchange="calculate()" /></td>
        <td><input id="ttl" /></td>
        <th style="color:black"><button onclick="window.location.href='/'">Submit</button></th>
    </tr>

    </table>
    
    <script type="text/javascript">
    function calculate() {
        var quantity = document.getElementById('qty').value;
        var price = document.getElementById('prc').value;
        var total = document.getElementById('ttl');
        var result = quantity * price;
        
        total.value = result;


    }

</script>


</body>
				</div>
			</div>
		</div>
	</div>
	






<% include ./partials/footer %>