<% include ./partials/header %>
<div class="party">
  <img src="https://images.unsplash.com/photo-1471967183320-ee018f6e114a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=79cea603f2fddda7b949b474adc102e0&auto=format&fit=crop&w=500&q=60">
  <img src="https://images.unsplash.com/photo-1496337589254-7e19d01cec44?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c94cc35814d4d4a83c8d065b442cad2&auto=format&fit=crop&w=500&q=60">
  <img src="https://images.unsplash.com/photo-1482575832494-771f74bf6857?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6a500377b369fcc1e3370dc43391fbac&auto=format&fit=crop&w=500&q=60">

  <img src="https://images.unsplash.com/photo-1517457373958-b7bdd4587205?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f9b9cb51ea58b136b1ccfc012192afcc&auto=format&fit=crop&w=500&q=60">
  <img src="https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=da90b7e324f7b8884b268bb4aaf62fcb&auto=format&fit=crop&w=500&q=60">
  <img src="https://images.unsplash.com/photo-1504609813442-a8924e83f76e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d77a452af4c08eccf935416803831774&auto=format&fit=crop&w=500&q=60"> 
</div>


  <% include ./partials/footer %>